<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/table.css">
<link rel="stylesheet" href="/stylesheets/takeoffs/index.css">
<%- include('../partials/nav') %>

<main>
  <h1><%= title %></h1>
  <div>
    <form action="/portal/takeoffs" method="GET">
      <div class="filter-nav">
          <div class="search-bar">
            <input type="search" name="search" placeholder="Search by Address" autocomplete="off" <%- query.search !== undefined ? `value="${query.search}"` : '' %>>
            <button class="hover-dark <%= query.search !== undefined ? 'active' : '' %>" type="submit"><i class="fas fa-solid fa-magnifying-glass fa-l"></i></button>
          </div>
          <% filters.forEach(filter => { %>
            <div class="filter">
              <input type="radio" name="sort" id="<%= filter.toLowerCase() %>-descending" value="<%= filter.toLowerCase() %>-desc" <%- query.sort === `${filter.toLowerCase()}-desc` ? 'checked' : '' %>>
              <label class="arrow hover-dark descending" for="<%= filter.toLowerCase() %>-descending"><i class="fas fa-solid fa-angle-down"></i></label>
              <label class="filter-name"><%= filter %></label>
              <input type="radio" name="sort" id="<%= filter.toLowerCase() %>-ascending" value="<%= filter.toLowerCase() %>-asc" <%- query.sort === `${filter.toLowerCase()}-asc` ? 'checked' : '' %>>
              <label class="arrow hover-dark ascending" for="<%= filter.toLowerCase() %>-ascending"><i class="fas fa-solid fa-angle-up"></i></label>
            </div>
          <% }) %>
            <button class="filter hover-dark <%= Object.values(query).length > 0 ? 'active' : ''%>" type="submit"><i class="fas fa-solid fa-filter"></i></button>
            <a class="filter hover-dark" href="/portal/takeoffs"><i class="fas fa-solid fa-xmark"></i></a>
        </div>
    </form>
  </div>
  <table>
    <thead>
        <th>Address</th>
        <th>Deadline</th>
        <th>Builder</th>
        <th>Created By</th>
      <% if (user.role < 200) { %>
        <th>Details</th>
      <% } else { %>
        <th>Update</th>
      <% } %>
    </thead>
  </table>
  <% if (overdueTakeoffs.length) { %>
  <table>
    <thead>
      <tr>
        <th colspan="5">Overdue</th>
      </tr>
    </thead>
    <tbody>
        <% overdueTakeoffs.forEach(overdueTakeoff => { %>
            <tr class="job-status-<%= overdueTakeoff.jobStatus %>">
                <td><%= overdueTakeoff.address %></td>
                <td><%= overdueTakeoff.deadline.toDateString().substring(0, 10) %></td>
                <td><%= overdueTakeoff.builder.name %></td>
                <td><%= overdueTakeoff.createdBy.name %></td>
              <% if (user.role < 200) { %>
                <td><a class="hover-dark action-button" href="/portal/takeoffs/<%= overdueTakeoff._id %>"><i class="fas fa-solid fa-eye fa-xl"></i></i></a></td>
              <% } else { %>
                <td><a class="hover-dark action-button" href="/portal/takeoffs/<%= overdueTakeoff._id %>/edit"><i class="fas fa-solid fa-pen-to-square fa-xl"></i></a></td>
              <% } %>
            </tr>
        <% }) %>
      </tbody>
    </table>
    <% } %> 
  <table>
    <thead>
      <tr>
        <th colspan="5">Current</th>
      </tr>
    </thead>
    <tbody>
      <% if (currentTakeoffs.length) { %>
        <% currentTakeoffs.forEach(currentTakeoff => { %>
            <tr class="job-status-<%= currentTakeoff.jobStatus %>">
                <td><%= currentTakeoff.address %></td>
                <td><%= currentTakeoff.deadline.toDateString().substring(0, 10) %></td>
                <td><%= currentTakeoff.builder.name %></td>
                <td><%= currentTakeoff.createdBy.name %></td>
              <% if (user.role < 200) { %>
                <td><a class="hover-dark action-button" href="/portal/takeoffs/<%= currentTakeoff._id %>"><i class="fas fa-solid fa-eye fa-xl"></i></i></a></td>
              <% } else { %>
                <td><a class="hover-dark action-button" href="/portal/takeoffs/<%= currentTakeoff._id %>/edit"><i class="fas fa-solid fa-pen-to-square fa-xl"></i></a></td>
              <% } %>
            </tr>
        <% }) %>
      <% } else { %>
            <tr>
              <td>No Current Takeoffs</td>
            </tr>
      <% } %> 
    </tbody>
  </table>
  <table>
    <thead>
      <tr>
        <th colspan="5">Completed</th>
      </tr>
    </thead>
    <tbody>
      <% if (completedTakeoffs.length) { %>
        <% completedTakeoffs.forEach(completedTakeoff => { %>
            <tr class="job-status-<%= completedTakeoff.jobStatus %>">
                <td><%= completedTakeoff.address %></td>
                <td><%= completedTakeoff.deadline.toDateString().substring(0, 10) %></td>
                <td><%= completedTakeoff.builder.name %></td>
                <td><%= completedTakeoff.createdBy.name %></td>
              <% if (user.role < 200) { %>
                <td><a class="hover-dark action-button" href="/portal/takeoffs/<%= completedTakeoff._id %>"><i class="fas fa-solid fa-eye fa-xl"></i></i></a></td>
              <% } else { %>
                <td><a class="hover-dark action-button" href="/portal/takeoffs/<%= completedTakeoff._id %>/edit"><i class="fas fa-solid fa-pen-to-square fa-xl"></i></a></td>
              <% } %>
            </tr>
        <% }) %>
      <% } else { %>
            <tr>
              <td>No Completed Takeoffs</td>
            </tr>
      <% } %> 
    </tbody>
  </table>
</main>
    
<%- include('../partials/footer') %>
