<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/table.css">
<link rel="stylesheet" href="/stylesheets/takeoffs/new.css">
<%- include('../partials/nav') %>

<main>
  <h1><%= title %></h1>
  <table>
    <form action="/portal/takeoffs" method="POST">
    <thead>
      <tr>
        <th colspan="2">Job Information</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="date-input-container">
          <div class="date-input">
            <label>Date:</label>
            <label><%= new Date().toString().substring(0,16) %></label>
          </div>
          <div class="deadline-input">
            <label for="deadline-input">Deadline:</label>
            <input type="date" name="deadline" id="deadline-input" required autocomplete="off">
          </div>
        </td>
        <td>
          <label for="address-input">Address:</label>
          <input class="input-long" type="text" id="address-input" name="address" placeholder="000 Address Street, City, ST 00000" required autocomplete="off">
        </td>
      </tr>
      <tr>
        <td>
          <label for="builder-input">Builder:</label>
          <select class="input-medium" name="builder" id="builder-input" required>
            <option>-- Select a Builder --</option>
            <% builders.forEach(builder => { %>
              <option value="<%= builder._id %>"><%= builder.name %></option>
            <% }) %>
          </select>
        </td>
        <td>
          <label for="lockbox-code-input">Lockbox Code:</label>
          <input class="input-short" type="text" id="lockbox-code-input" name="lockboxCode" placeholder="0000" autocomplete="off">
        </td>
      </tr>
    </tbody>
  </table>
  <table>
    <thead>
      <tr>
        <th colspan="3">Locks</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <label for="lock-input">Style:</label>
          <select class="input-long" name="lock" id="lock-input" required>
            <option>-- Select a Lock --</option>
              <% locks.forEach(lock => { %>
                <option value="<%= lock._id %>"><%= lock.name %></option>
              <% }) %>
          </select>
        </td>
        <td>
          <label for="lock-finish-input">Finish:</label>
          <select name="lockFinish" id="lock-finish-input" required>
              <option>-- Select a Finish --</option>
              <% possibleFinishes.forEach(possibleFinish => { %>
                <option value="<%= possibleFinish %>"><%= possibleFinish %></option>
              <% }) %>
          </select>
        </td>
        <td>
          <label for="key-number-input">Key Number:</label>
          <input class="input-short" type="text" id="key-number-input" name="keyNumber" placeholder="00000" autocomplete="off">
        </td>
      </tr>
      <tr>
        <th>
          <label>Type</label>
        </th>
        <th colspan="2">
          <label>Count</label>
        </th>
      </tr>
      <% possibleLockTypes.forEach(possibleLockType => { %>
        <tr>
          <td>
            <label for="<%= possibleLockType.toLowerCase() %>-input"><%= possibleLockType %></label>
          </td>
          <td colspan="2">
            <div class="lock-count-input">
              <div class="operator hover-dark" onclick="document.getElementById('<%= possibleLockType.toLowerCase() %>-input').value--"><i class="fas fa-solid fa-minus fa-xl"></i></div>
              <input class="input-short" id="<%= possibleLockType.toLowerCase() %>-input" name="lockCount" type="number" value="0" min="0" required autocomplete="off">
              <div class="operator hover-dark" onclick="document.getElementById('<%= possibleLockType.toLowerCase() %>-input').value++"><i class="fas fa-solid fa-plus fa-xl"></i></div>
            </div>
          </td>
        </tr>
      <% }) %>
    </tbody>
  </table>
  <div class="takeoff-options">
    <button class="hover-light" type="submit">Create</button>
  </form>
    <a href="/portal/takeoffs"><button class="hover-dark">Cancel</button></a>
  </div>
</main>

<%- include('../partials/footer') %>
