<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/table.css">
<link rel="stylesheet" href="/stylesheets/assets/index.css">
<%- include('../partials/nav') %>

<main>
  <h1><%= title %></h1>
  <table>
    <thead>
      <tr>
        <th colspan="5">Builders</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th>Name</th>
        <th>Phone Number</th>
        <th>Email</th>
        <th>Update</th>
        <th>Delete</th>
      </tr>
      <tr>
        <form action="/portal/assets/builders" method="POST">
          <td><input type="text" name="name" required placeholder="Builder Builder"></td>
          <td><input type="tel" name="phoneNumber" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" placeholder="000-000-0000"></td>
          <td><input type="email" name="email" placeholder="builder@builder.com"></td>
          <td><button class="action-button hover-dark" type="submit"><i class="fas fa-solid fa-user-plus fa-2xl"></i></button></td>
        </form>
        <td></td>
      </tr>
      <% builders.forEach(builder => { %>
        <tr>
          <form action="/portal/assets/builders/<%= builder._id %>?_method=PUT" method="POST">
            <td><input class="<%= builder._id %>" type="text" name="name" required value="<%= builder.name %>"></td>
            <td><input class="<%= builder._id %>" type="tel" name="phoneNumber" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" value="<%= builder.phoneNumber %>"></td>
            <td><input class="<%= builder._id %>" type="email" name="email" value="<%= builder.email %>"></td>
            <td><button class="action-button hover-dark" type="submit"><i class="fas fa-solid fa-pen-to-square fa-2xl"></i></button></td>
          </form>
          <form action="/portal/assets/builders/<%= builder._id %>?_method=DELETE" method="POST">
            <td><button class="action-button hover-dark" type="submit"><i class="fas fa-solid fa-trash fa-2xl"></i></button></td>
          </form>
        </tr>
      <% }) %>
    </tbody>
  </table>
  <table>
    <thead>
      <tr>
        <th colspan="5">Locks</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th>Name</th>
        <th>Finishes</th>
        <th>Price</th>
        <th>Update</th>
        <th>Delete</th>
      </tr>
      <tr>
        <form action="/portal/assets/locks" method="POST">
          <td><input type="text" name="name" required placeholder="Brand Style"></td>
          <td>
            <table>
              <tbody>
                <tr class="finish-input-table">
                  <td class="finish-input-row">
                    <% for( let i = 0; i < 5; i++ ) { %>
                      <div class="finish-input">
                        <input type="checkbox" name="possibleFinishes" id="<%= possibleFinishes[i] %>" value="<%= possibleFinishes[i] %>">
                        <label class="hover-light" for="<%= possibleFinishes[i] %>"><%= possibleFinishes[i] %></label>
                      </div>
                    <% } %>
                  </td>
                  <td class="finish-input-row">
                    <% for( let i = 5; i < possibleFinishes.length; i++ ) { %>
                      <div class="finish-input">
                        <input type="checkbox" name="possibleFinishes" id="<%= possibleFinishes[i] %>" value="<%= possibleFinishes[i] %>">
                        <label class="hover-light" for="<%= possibleFinishes[i] %>"><%= possibleFinishes[i] %></label>
                      </div>
                    <% } %>
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
          <td>
            <table>
              <tbody>
                <tr class="lock-type-input-table">
                  <td class="lock-type-input-row">
                    <% for( let i = 0; i < 6; i++ ) { %>
                      <div class="lock-type-input">
                        <label for="<%= possibleLockTypes[i] %>"><%= possibleLockTypes[i].substring(0, 3) %>:</label>
                        <input type="number" name="price" id="<%= possibleLockTypes[i] %>" min="0" step="0.01" required>
                      </div>
                    <% } %>
                  </td>
                  <td class="lock-type-input-row">
                    <% for( let i = 6; i < possibleLockTypes.length; i++ ) { %>
                      <div class="lock-type-input">
                        <label for="<%= possibleLockTypes[i] %>"><%= possibleLockTypes[i].substring(0, 3) %>:</label>
                        <input type="number" name="price" id="<%= possibleLockTypes[i] %>" min="0" step="0.01" required>
                      </div>
                    <% } %>
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
          <td><button class="action-button hover-dark" type="submit"><i class="fas fa-solid fa-plus fa-2xl"></i></button></td>
          <td></td>
        </form>
      </tr>
      <% locks.forEach(lock => { %>
        <tr>
          <form action="/portal/assets/locks/<%= lock._id %>?_method=PUT" method="POST">
            <td><input type="text" name="name" required value="<%= lock.name %>"></td>
            <td>
              <table>
                <tbody>
                  <tr class="finish-input-table">
                    <td class="finish-input-row">
                      <% for( let i = 0; i < 5; i++ ) { %>
                        <div class="finish-input">
                          <input type="checkbox" name="possibleFinishes" id="<%= possibleFinishes[i] %><%= lock._id %>" value="<%= possibleFinishes[i] %>" <%- lock.possibleFinishes.includes(possibleFinishes[i]) ? 'checked' : '' %>>
                          <label class="hover-light" for="<%= possibleFinishes[i] %><%= lock._id %>"><%= possibleFinishes[i] %></label>
                        </div>
                      <% } %>
                    </td>
                    <td class="finish-input-row">
                      <% for( let i = 5; i < possibleFinishes.length; i++ ) { %>
                        <div class="finish-input">
                          <input type="checkbox" name="possibleFinishes" id="<%= possibleFinishes[i] %><%= lock._id %>" value="<%= possibleFinishes[i] %>" <%- lock.possibleFinishes.includes(possibleFinishes[i]) ? 'checked' : '' %>>
                          <label class="hover-light" for="<%= possibleFinishes[i] %><%= lock._id %>"><%= possibleFinishes[i] %></label>
                        </div>
                      <% } %>
                    </td>
                  </tr>
                </tbody>
              </table>
            </td>
            <td>
              <table>
                <tbody>
                  <tr class="lock-type-input-table">
                    <td class="lock-type-input-row">
                      <% for( let i = 0; i < 6; i++ ) { %>
                        <div class="lock-type-input">
                          <label for="<%= possibleLockTypes[i] %><%= lock._id %>"><%= possibleLockTypes[i].substring(0, 3) %>:</label>
                          <input type="number" name="price" id="<%= possibleLockTypes[i] %><%= lock._id %>" min="0" step="0.01" required value="<%= lock.price[i] %>">
                        </div>
                      <% } %>
                    </td>
                    <td class="lock-type-input-row">
                      <% for( let i = 6; i < possibleLockTypes.length; i++ ) { %>
                        <div class="lock-type-input">
                          <label for="<%= possibleLockTypes[i] %><%= lock._id %>"><%= possibleLockTypes[i].substring(0, 3) %>:</label>
                          <input type="number" name="price" id="<%= possibleLockTypes[i] %><%= lock._id %>" min="0" step="0.01" required value="<%= lock.price[i] %>">
                        </div>
                      <% } %>
                    </td>
                  </tr>
                </tbody>
              </table>
            </td>
            <td><button class="action-button hover-dark" type="submit"><i class="fas fa-solid fa-pen-to-square fa-2xl"></button></td>
          </form>
          <form action="/portal/assets/locks/<%= lock._id %>?_method=DELETE" method="POST">
            <td><button class="action-button hover-dark" type="submit"><i class="fas fa-solid fa-trash fa-2xl"></i></button></td>
          </form>
        </tr>




      <% }) %>
    </tbody>
  </table>
</main>

<%- include('../partials/footer') %>
